.openButton {
  height: 50px;
  position: absolute;
  top: calc(50% - 100px);
}

.contentContainer {
  position: relative;
  text-align: center;
}

.numberButton {
  margin: 4px 4px !important;
  height: 35px;
}

.numberButtons {
  display: flex;
  overflow: scroll; /* Добавляем полосы прокрутки */
  width: 500px; /* Ширина блока */
  height: 60px; /* Высота блока */
  padding: 5px; /* Поля вокруг текста */
  border-bottom: solid 3px black; /* Параметры рамки */
}

.numberButtons::-webkit-scrollbar { width: 0; height: 0px; background-color: rgba(0, 0, 0, 0.37);} 
.numberButtons::-webkit-scrollbar-button { background-color: black; width: 10px;}
.numberButtons::-webkit-scrollbar-thumb { height: 0px; background-color: rgba(0, 0, 0, 0.67); border-radius: 5px;}


.numberButtons:hover::-webkit-scrollbar { width: 0; height: 15px; background-color: rgba(0, 0, 0, 0.37);}
.numberButtons:hover::-webkit-scrollbar-button {  background-color: black; width: 10px;}
.numberButtons:hover::-webkit-scrollbar-thumb { height: 50px; background-color: rgba(0, 0, 0, 0.67); border-radius: 5px;}

.listItem {
  border: 1px solid black !important;
  margin: 5px 0 !important;
  border-radius: 5px;
}

.listContainer {
  display: flex;
  overflow: scroll; 
  margin-top: 10px;
  width: 500px; 
  height: 400px; 
  padding: 5px; 
}

.list {
  width: 100% !important;
}

.buttonLink {
  text-decoration: none;
  color: black;
}